* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
:root {
    --font3: 'Roboto', sans-serif;
}

.card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    border: 1;
    border-radius: 1rem;
}

img {
    width: 50px ;
    border-radius: 50%;
    margin: auto;    
    display: block;
}

a {
  color: #193ea4;
  font-weight: 600;
  text-decoration: none;
}




.fab {
    font-size: 1.5rem;
    color: darkgray;
    transition: transform .5s;
}

.fab:hover {
    color: black;
    transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  font-family: "Arial Black", sans-serif;
  font-size: 4.5em;
  letter-spacing: -1px;
  background-color: #273c75;
  color: white;
  padding: 5% 5% 5% 5%;
  text-align:center;
}
.content .container h1 {
  font-size: 48px;
  margin-bottom: 2rem;
}
.content .container p {
  color: #ccc;
}
.content .container p a {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #273c75;
  color: #fff;
}
footer a {
  color: #fff;
  font-weight: bolder;
}
footer span {
  font-weight: lighter;
  text-align:center;
}
